body{
    background-image: url("https://static8.depositphotos.com/1154062/1071/v/950/depositphotos_10712741-stock-illustration-white-crumpled-abstract-background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: crimson;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: salmon;
    padding: 50px;
    border: dashed red 20px;
    display: flex;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divClass{
    display: block;
}